<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>l-taschutt</string>
		<key>creation_date</key>
		<date>2014-11-01T19:36:20Z</date>
		<key>munki_version</key>
		<string>2.1.0.2315</string>
		<key>os_version</key>
		<string>10.10</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>minimum_os_version</key>
	<string>10.6.8</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh

# Windows/AD Hosted printer queue configuration package
# Based on 2010 Walter Meyer SUNY Purchase College (c)
# Modified by Nick McSpadden, 2013 and Tim Schutt, 2014

# Script to install and setup printers on a Mac OS X system in a "Munki-Friendly" way.
# Make sure to install the required drivers first!


# Definitions Area #

currentVersion="1.1"
printername="AS_PRQ_03_AS_CSG_LEX_X734DE_CSG1029"

### Determine if receipt is installed ###
if [ -e /private/etc/cups/deployment/receipts/$printername.plist ]; then
        storedVersion=`/usr/libexec/PlistBuddy -c "Print :version" /private/etc/cups/deployment/receipts/$printername.plist`
        echo "Stored version: $storedVersion"
else
        storedVersion="0"
fi

versionComparison=`echo "$storedVersion &lt; $currentVersion" | bc -l`
# This will be 0 if the current receipt is greater than or equal to current version of the script

### Printer Install ###
# If the queue already exists (returns 0), we don't need to reinstall it.
/usr/bin/lpstat -p $printername
if [ $? -eq 0 ]; then
        if [ $versionComparison == 0 ]; then
                # We are at the current or greater version
                exit 1
        fi
    # We are of lesser version, and therefore we should delete the printer and reinstall.
    /usr/sbin/lpadmin -x $printername
fi

# Now we can install the printer.
/usr/bin/lpadmin -E -p AS_PRQ_03_AS_CSG_LEX_X734DE_CSG1029 -L Center for Science &amp; Technology 1-029 -D AS-PRQ-03-AS-CSG-LEX-X734DE-CSG1029 -P /Library/Printers/PPDs/Contents/Resources/Lexmark X734de.gz -v smb://AS-PRQ-03.ad.syr.edu/AS-CSG-LEX-X734DE-CSG1029 -o OptDuplex=InstalledM -o printer-op-policy=authenticated -o printer-is-shared=False -o printer-error-policy=abort-job
        
# Enable and start the printers on the system (after adding the printer initially it is paused).
# /usr/sbin/cupsenable $(lpstat -p | grep -w "printer" | awk '{print$2}')

# Create a receipt for the printer
mkdir -p /private/etc/cups/deployment/receipts
/usr/libexec/PlistBuddy -c "Add :version string" /private/etc/cups/deployment/receipts/$printername.plist
/usr/libexec/PlistBuddy -c "Set :version $currentVersion" /private/etc/cups/deployment/receipts/$printername.plist

# Permission the directories properly.
chown -R root:_lp /private/etc/cups/deployment
chmod -R 700 /private/etc/cups/deployment

exit 0</string>
	<key>requires</key>
	<array>
		<string>LexmarkPrinterDrivers</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>uninstall_script</string>
	<key>uninstall_script</key>
	<string>#!/bin/bash
# Definitions Area #

/usr/sbin/lpadmin -x AS_PRQ_03_AS_CSG_LEX_X734DE_CSG1029
rm -f /private/etc/cups/deployment/receipts/AS_PRQ_03_AS_CSG_LEX_X734DE_CSG1029.plist</string>
	<key>version</key>
	<string>1.1</string>
</dict>
</plist>

